.input {
  display: inline-block;
  position: relative;
  &__elem {
    border-radius: 5px;
    border: #BBC1E1 solid 1px;
    outline: none;
    padding: 10px;
    transition: border 0.3s ease;
    &:focus {
      border: #275EFE solid 1px;
    }
    &.error {
      border: red solid 1px;
    }
    &:disabled {
      cursor: not-allowed;
    }
  }
  //&__error {
  //  left: 10px;
  //  bottom: -15px;
  //  position: absolute;
  //  opacity: .5;
  //  color: red;
  //  font-size: 12px;
  //}
}


